@import "@/assets/styles/colors.scss";

/deep/ .custom-select {
  width: 100%;
  padding: 10px;
  border: 1px solid $blue-primary;
  border-radius: 5px;
}

/deep/ .btn-lg,
.btn-group-lg > .btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

/deep/ .btn-primary {
  background-color: $blue-primary;
  border-color: #ffffff;
  color: #ffffff;
}
.form-style {
  padding: 30px;
}

.label-name {
  font-weight: 700;
  font-size: 15px;
  color: $blue-primary;
  margin-bottom: 10px;
}
